h1 {
  text-align: center;
  color: darkblue;
}

h2 {
  color: blue;
  text-align: center;
}

body {
  background-color: aqua;
  font-family: sans-serif;
}

ul {
  line-height: 20px;
}

p{
  font-style: italic;
  text-align: center;
  font-size: x-large;
}